/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #7D0A0A;
    padding: 10px;
    text-align: center;
    
}

.logo-container {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 10px;
    margin-top: -1%;
    gap: 1px;
}

.logo {
    width: 130px;
    height: auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30%;
}

/* Navbar */
nav {
    background-color: #7d0a0a;
    padding: 10px 40px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    background-color: #FFBF00;
    color: #7d0a0a;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
    background-color: #ffe066;
    transform: scale(1.05);
}   

/* Book List */
main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #EA7300;
    color: white;
}

a {
    color: #FFBF00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #7D0A0A;
}

h1 {
    color: #FF9B17 ;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

a.btn, button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}

a.btn:hover, button:hover {
    background-color: #218838;
}



/* Pagination Styling */
.pagination {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    background-color: #ffbf00;
    color: #7d0a0a;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.pagination a:hover {
    background-color: #ffe066;
    transform: translateY(-2px);
}

.pagination a.active {
    background-color: #7d0a0a;
    color: white;
    pointer-events: none;
}

